fastapi==0.129.0
uvicorn[standard]==0.40.0
sqlalchemy==2.0.46
psycopg2-binary==2.9.11
python-dotenv==1.2.1
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
PyJWT==2.10.1
pydantic[email]==2.12.3
prometheus-client==0.20.0
requests==2.32.3
